@model CreateSubCategoryVM;

@{
    ViewBag.PageTitle = "Sub Category Mangment";
    ViewBag.CardTitle = "Create ";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="row">

    <div class="col-md-4">
        <form asp-action="Create" method="post">

@*             <input hidden asp-for="Id" /> *@
            <div class="mb-3">

                <label asp-for="SubCategoryDTO.Name"></label>
                <input asp-for="SubCategoryDTO.Name" class="form-control" />
                <span asp-validation-for="SubCategoryDTO.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">

                <label asp-for="SubCategoryDTO.Description"></label>
                <input asp-for="SubCategoryDTO.Description" class="form-control" />
                <span asp-validation-for="SubCategoryDTO.Description" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <label for="SubCategoryDTO.CategoryId" class="form-label">Category</label>
                <select id="SubCategoryDTO.CategoryId" name="SubCategoryDTO.CategoryId" class="form-control" aria-label="Select Category" asp-for="SubCategoryDTO.CategoryId" asp-items="Model.Categories">
                    <option value="" selected disabled>-- Select Category --</option>
                </select>
                <span asp-validation-for="SubCategoryDTO.CategoryId" class="text-danger"></span>
            </div>

            <div class="mb-3 form-group">
                <input type="submit" class="btn btn-primary" value="Create" />

                <a asp-action="Index" asp-controller="SubCategory" class="btn btn-warning">Back to list</a>
            </div>
        </form>

    </div>
</div>

@section Scripts {


    <partial name="_ValidationScriptsPartial" />
}