@model Category;

@{
    ViewBag.PageTitle = "Category Mangment";
    ViewBag.CardTitle = "Create ";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="row">

    <div class="col-md-4">
        <form asp-action="Create" method="post">

            <input hidden asp-for="Id" />
            <div class="mb-3">

                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">

                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3 form-group">
                <input type="submit" class="btn btn-primary" value="Create" />

                <a asp-action="Index" asp-controller="Category" class="btn btn-warning">Back to list</a>
            </div>
        </form>

    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}