@{
    ViewBag.PageTitle = "Product Management";
    ViewBag.CardTitle = "Products";
    Layout = "~/Views/Shared/_Dashboard.cshtml";

}

<div class="mb-3">
    <a asp-action="Create" asp-controller="Products" class="btn btn-primary">New Product</a>
</div>

<table id="productDataTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>CreatedAt</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
   
    <script src="~/scripts/area/admin/product/productist.js"></script>
}
